* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  color: white;
}

body {
  background-image: url(https://i.pinimg.com/564x/26/cf/3c/26cf3c80b7b5923f89fba8fe140dd660.jpg);
  text-transform: capitalize;
}

h1 {
  /* background-color: rgba(35, 126, 126, 0.466); */
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 20px;
}

.job-title {
  background-color: black;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 20px;
}

p {
  color: white);
  /* background-color: bisque; */
  padding: 15px;
  line-height: 20px;
}

#high {
  /* background-color: rgb(197, 146, 197); */
}

h2 {
  color: white;
  /* background-color: purple; */
  padding: 10px;
}

ul li {
  /* background-color: rgba(35, 126, 126, 0.466); */
  color: white;
  font-weight: bold;
  padding: 2px;
  text-align: end;



}


a {
  text-decoration: none;
  color: white;
  background-color: black;
}